//顺丰优选颜色库 
$color0:#666666;
$color1:#f7f7f7;
$color2:#eeeeee;
$color3:#969696;
$color4:#dcdcdc;
$color5:#999999;
$color6:#669900;
$color7:#979797;
$color8:#efefef;
$color9:#fa9600;
$co10:#ffffff;
$co11:#679800;
$co12:#303437;
$co13:#76ac25;
$co14:#333333;
$co15:#ddeac8;
$co16:#333333;
$co17:#e8e8e8;
$co18:#323232;
$co19:#f33f00;
$co20:#dbdbdb;
$co21:#FA6400;
$co22:#FFECBF;
$co23:#ff7031;
$co24:#e5e5e5;
$co25:#ffe4c6;
$co26:#2d2d2d;
$co27:#fa648c;
$co28:#F4F4F4;
$co29:#adcd7c;
$co30:#fca2ba;
$co31:#ff6c00;
$co32:#d12e49;
$co33:#f08c18;
$co34:#78b270;
$co35:#f5f5f5;
$co36:#f0f0f0;
$co37:#646464;
$co38:#707070;
$co39:#e0e0e0;
$co40:#dadada;
$co41:#6f6f6f;
$widths:1200px;
$height:100%;
$width:100%;